<div id="container">
    <h1>Add</h1>
	<form action="/meds/add" method="POST">
	        Surname:<br />
	        <input type="text" value="{{child_lastname}}" name="child_lastname"><br />
	        Time:
	        <br /><input value="{{time}}" name="time" type="time"><br />
	        Medication:
	        <br /><input value="{{medication}}" name="medication"><br />
	        <input type="submit">
	</form>
</div>
