<div id="container">
	<form>
        <input type="text" id="childsearch" placeholder="Search here">
    </form> <br />
	<a href="/add" class="btn btn-warning btn-lg" role="button">Add a new Child</a>
	<div class="table-responsive" >
		<table class="table" id="childsearchtab">
			<thead>
				<th data-field="name">Name</th>
				<th data-field="surname">Surname</th>
				<th data-field="medication">Date of Birth</th>  
			</thead>
		    <tbody>
				{{#children}}
					<tr>
					    <td><h2>{{name}}</h2></td>
					    <td><h2>{{surname}}</h2></td>
					    <td><h2>{{birth_date}}</h2></td> 
					</tr>
				{{/children}}
			</tbody>
		</table>
	</div>
</div>
{{#empty}}
	<p>The list is empty</p>
{{/empty}}
<script src="ajax.js"></script>